<p><% if (config.author){ %>
  &copy; <%= new Date().getFullYear() %> <%= config.author %>
  <% } else { %>
  &copy; <%= new Date().getFullYear() %> <%= config.title %>
  <% } %>
      with help from <a href="http://hexo.io/" target="_blank">Hexo</a>,<a href="https://vercel.com/">Vercel</a>,<a href="https://www.aliyun.com/" target="_blank">阿里云</a> and <a href="http://github.com/" target="_blank">GitHub</a>. 
     <br> Theme by <a href="http://github.com/wzpan/hexo-theme-freemind/">Freemind.386</a>.    
</p>
